.gitignore
__pycache__
.vscode
*.class
*.pyc
*.gz
*.xz
*.zip
*.rar
*.bz
*.tar
*.png
*.jpg
*.pdf
*.json
debugging.py
*.cwa
*.csv
*.project
*.classpath
*cmds.sh
*cmds.txt
dataBeforeChanges
plots
accelerometer/OLDsummariseEpoch.py
*.pywq
accPlotLocalVersion.py
*.npz
*.npy
